:root {
  --background-general-white: #fff;
  --text-general-black: #212121;
  --text-subtitle-grey: #757575;
  --button-active-blue: #2196f3;
  --button-nonactive-grey: #f5f4fa;
  --logo-title-black: #000000;
  --background-footer-black: #2f303a;
  --line-header-white: #ececec;
  --text-blacktheme-white: #ffffff99;
  --hero-btn-blue: #188ce8;
  --portfolio-border-color: #eeeeee;
  --background-hero: #c4c4c4;
  --link-nonactvie: #afb1b8;
  --dark-theme-link-bgd: rgba(255, 255, 255, 0.1);
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.regular-customers__link, .example-description, .subscribe-call__btn, .modal-form__checkbox-desc, .modal__close-btn, .social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-general-black);
  background-color: var(--background-general-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--hero-btn-blue);
  color: var(--background-general-white);
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 4px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.secondary-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--text-general-black);
}

.subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--text-general-black);
}

.subtitle_dark-theme {
  color: var(--background-general-white);
}

.text-description {
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-subtitle-grey);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  color: var(--logo-title-black);
}

.logo__span_accent {
  color: var(--button-active-blue);
}

.logo_dark-theme {
  color: var(--background-general-white);
}

.hero-btn {
  min-width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--background-general-white);
  background-color: var(--button-active-blue);
  transition: background-color var(--animation-duration) var(--animation-cubic);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-blue);
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 16px;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-general-white);
  color: var(--link-nonactvie);
  transition: color var(--animation-duration) var(--animation-cubic), background-color var(--animation-duration) var(--animation-cubic);
}
.social-links__link:hover, .social-links__link:focus {
  background-color: var(--button-active-blue);
  color: var(--background-general-white);
}
.social-links__link_dark-theme {
  background-color: var(--dark-theme-link-bgd);
  color: var(--background-general-white);
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation-duration) var(--animation-cubic), visibility var(--animation-duration) var(--animation-cubic);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  padding: 40px;
  background-color: var(--background-general-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation-duration) var(--animation-cubic), visibility var(--animation-duration) var(--animation-cubic);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 0;
  background-color: var(--background-general-white);
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--animation-duration) var(--animation-cubic);
}
.modal__close-btn:hover {
  fill: var(--button-active-blue);
}

.modal__close-icon {
  width: 18px;
  height: 18px;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: start;
  transition: border-color var(--animation-duration) var(--animation-cubic);
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  color: var(--text-subtitle-grey);
}

.modal-form__wrapper {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation-duration) var(--animation-cubic), color var(--animation-duration) var(--animation-cubic);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--button-active-blue);
}
.modal-form__field:focus-within .modal-form__input, .modal-form__field:hover .modal-form__input {
  border: 1px solid var(--button-active-blue);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--text-general-black);
  transform: translateY(-50%);
  transition: fill var(--animation-duration) var(--animation-cubic);
}
.modal-form__field:focus-within .modal-form__icon, .modal-form__field:hover .modal-form__icon {
  fill: var(--button-active-blue);
}
.modal-input:focus + .modal-form__icon {
  fill: var(--button-active-blue);
}

.subscribe-call__input:focus {
  outline: none;
  border-color: var(--button-active-blue);
}

.modal-form__comment-field {
  margin-bottom: 20px;
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation-duration) var(--animation-cubic);
}
.modal-form__comment-field:focus-within .modal-form__textarea, .modal-form__comment-field:hover .modal-form__textarea {
  border: 1px solid var(--button-active-blue);
}
.modal-form__textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:focus {
  outline: none;
  border-color: var(--button-active-blue);
}

.modal-form__checkbox-desc {
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-subtitle-grey);
}
.modal-form__checkbox-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--text-general-black);
  border-radius: 2px;
  cursor: pointer;
  background-color: #fff;
}
.modal-form__checkbox:checked + .modal-form__checkbox-desc::before {
  background-image: url(../img/icon\ check.svg);
  background-position: center;
  background-size: contain;
  border: none;
}

.modal-form__checkbox:focus + .modal-form__checkbox-desc::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.policy-link {
  color: var(--button-active-blue);
}

.modal-form__btn {
  padding: 10px;
}

.subscribe-call__descr {
  margin-bottom: 20px;
}

.subscribe-call__form {
  display: flex;
  width: 570px;
}

.subscribe-call__input {
  width: 100%;
  padding-left: 16px;
  background-color: var(--background-footer-black);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--background-general-white);
  transition: border-color var(--animation-duration) var(--animation-cubic);
}
.subscribe-call__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.main-footer__subscribe-call:focus-within .subscribe-call__input,
.main-footer__subscribe-call:hover .subscribe-call__input {
  border: 1px solid var(--button-active-blue);
}

.subscribe-call__btn {
  margin-left: 12px;
  padding: 10px;
}

.subscribe-call__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.main-header {
  background-color: var(--background-general-white);
  border-bottom: 1px solid var(--line-header-white);
}
.main-header .container {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-left: 92px;
}
.header-nav__item {
  display: inline-block;
}
.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link,
.header-contacts__link {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.header-nav__link {
  color: var(--text-general-black);
  transition: color var(--animation-duration) var(--animation-cubic);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: var(--button-active-blue);
}
.header-nav__link_current {
  position: relative;
  color: var(--button-active-blue);
}
.header-nav__link_current::after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--button-active-blue);
  border-radius: 2px;
  top: 100%;
  left: 0;
  transform: translateY(29px);
}

.header-contacts {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  color: var(--text-subtitle-grey);
  transition: color var(--animation-duration) var(--animation-cubic);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--button-active-blue);
}

.header-contacts__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--background-hero);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bcg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__title {
  width: 696px;
  margin: 0 auto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-general-white);
}
.hero__hero-btn {
  margin-top: 30px;
  padding: 10px 32px;
}

.features__list {
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icon-bgd {
  max-width: 270;
  height: 120;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--button-nonactive-grey);
  cursor: default;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__text-description {
  margin-top: 10px;
}

.examples {
  padding-bottom: 94px;
}
.examples__secondary-title {
  margin-bottom: 50px;
}
.examples-item:not(:last-child) {
  margin-right: 30px;
}

.examples-list {
  display: flex;
}

.example-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--background-general-white);
}

.crew {
  background-color: var(--button-nonactive-grey);
}
.crew .text-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  color: var(--text-subtitle-grey);
}

.crew__secondary-title {
  margin-bottom: 50px;
}

.crew__list {
  display: flex;
  text-align: center;
}

.crew__item {
  background: var(--background-general-white);
}
.crew__item:not(:last-child) {
  margin-right: 30px;
}

.crew__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}

.crew__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-transform: capitalize;
  color: var(--text-general-black);
}

.crew__text-description {
  margin-top: 10px;
}

.regular-customers__secondary-title {
  margin-bottom: 50px;
}

.regular-customers__list {
  display: flex;
}

.regular-customers__item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers__link {
  width: 170px;
  height: 92px;
  background-color: var(--background-general-white);
  color: var(--link-nonactvie);
  border: 1px solid var(--link-nonactvie);
  border-radius: 4px;
  transition: color var(--animation-duration) var(--animation-cubic), border var(--animation-duration) var(--animation-cubic);
}
.regular-customers__link:hover, .regular-customers__link:focus {
  color: var(--button-active-blue);
  border: 1px solid var(--button-active-blue);
}

.regular-customers__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer-black);
}

.main-footer__container {
  display: flex;
  align-items: baseline;
}

.main-footer__address {
  margin-top: 20px;
}

.main-footer__address .link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  transition: color var(--animation-duration) var(--animation-cubic);
}
.main-footer__address .link:focus, .main-footer__address .link:hover {
  color: var(--button-active-blue);
}

.address__map-link {
  color: var(--background-general-white);
}

.address__contact {
  color: var(--text-blacktheme-white);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.main-footer__social-links {
  margin-left: 70px;
}

.main-footer__subscribe-call {
  margin-left: auto;
}

.samples__filters-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.samples__filter-item:not(:last-child) {
  margin-right: 8px;
}

.samples__filter-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--button-nonactive-grey);
  color: var(--text-general-black);
  transition: color var(--animation-duration) var(--animation-cubic), background-color var(--animation-duration) var(--animation-cubic), box-shadow var(--animation-duration) var(--animation-cubic);
}
.samples__filter-btn:hover, .samples__filter-btn:focus {
  background-color: var(--button-active-blue);
  color: var(--background-general-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.samples__filter-btn_current {
  background-color: var(--button-active-blue);
  color: var(--background-general-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.samples__list {
  display: flex;
  flex-wrap: wrap;
}

.samples__item {
  width: calc((100% - 60px) / 3);
  border-radius: 0px 0px 4px 4px;
}
.samples__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.samples__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.samples__link {
  display: block;
  transition: box-shadow var(--animation-duration) var(--animation-cubic);
}
.samples__link:hover, .samples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.samples__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation-duration) var(--animation-cubic);
}
.samples__link:hover .samples__overlay, .samples__link:focus .samples__overlay {
  transform: translateY(0);
}

.samples__descr {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  color: var(--background-general-white);
}

.samples__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.samples__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-general-black);
}

.samples__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  color: var(--text-subtitle-grey);
}/*# sourceMappingURL=main.css.map */