.crew {
  background-color: var(--button-nonactive-grey);

  & .text-description {
    @include font (16, 400, 19);

    color: var(--text-subtitle-grey);
  }
}

.crew__secondary-title {
  margin-bottom: 50px;
}

.crew__list {
  display: flex;
  text-align: center;
}

.crew__item {
  background: var(--background-general-white);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.crew__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}

.crew__subtitle {
  @include font (16, 500, 19);
  text-transform: capitalize;

  color: var(--text-general-black);
}

.crew__text-description {
  margin-top: 10px;
}

