.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-footer-black);
}

.main-footer__container {
  display: flex;
  align-items: baseline;
}

.main-footer__address {
  margin-top: 20px;
}

.main-footer__address .link {
  @include font(14, 400, 24);

  transition: color var(--animation-duration) var(--animation-cubic);

  &:focus,
  &:hover {
    color: var(--button-active-blue);
  }
}

.address__map-link {
  color: var(--background-general-white);
}

.address__contact {
  color: var(--text-blacktheme-white);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.main-footer__social-links {
  margin-left: 70px;
}

.main-footer__subscribe-call {
  margin-left: auto;
}

