.main-header {
  background-color: var(--background-general-white);
  border-bottom: 1px solid var(--line-header-white);

  .container {
    display: flex;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-left: 92px;

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header-nav__link,
.header-contacts__link {
  padding-top: 0;
  padding-bottom: 0;

  @include font(14, 500, 16);
  letter-spacing: 0.02em;
}

.header-nav__link {
  color: var(--text-general-black);
  transition: color var(--animation-duration) var(--animation-cubic);

  &:hover,
  &:focus {
    color: var(--button-active-blue);
  }

  &_current {
    position: relative;
    color: var(--button-active-blue);

    &::after {
      display: inline-block;
      position: absolute;
      content: "";

      height: 4px;
      width: 100%;

      background-color: var(--button-active-blue);
      border-radius: 2px;

      top: 100%;
      left: 0;
      transform: translateY(29px);
    }
  }
}

.header-contacts {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  color: var(--text-subtitle-grey);
  transition: color var(--animation-duration) var(--animation-cubic);

  &:hover,
  &:focus {
    color: var(--button-active-blue);
  }
}

.header-contacts__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
