.hero {
  max-width: 1600px;
  height: 600px;
  @include push_auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-color: var(--background-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bcg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    width: 696px;
    margin: 0 auto;
  
    @include font(44, 900, 60);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-general-white);
  }

  &__hero-btn {
  margin-top: 30px;
  padding: 10px 32px;
  }
}

