@mixin font($fs: 24, $fw: 400, $lh: 32) {
  font-size: #{$fs}px;
  font-weight: $fw;
  line-height: $lh / $fs;
}

@mixin push_auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
